[2022-07-13 08:00] bsantschi opened #1 "deinKlima (neue Organisation) auf INT einrichten"
Neue Organisation auf decidim.swiss INT (https://test.dialogluzern.ch/system/organizations) erstellen:
- [x] Name: deinKlima – Testplattform
- [x] URL: https://test.deinklima.ch/
- [x] E-Mail Absender: [no-reply@deinklima.ch](mailto:no-reply@deinklima.ch) (Mailserver bei Metanet)
- [x] SMS als Verifikationsmethode nebst den Standardoptionen
- [x] Standardsprache ist zu Beginn nur DEUTSCH
- [x] Ber

[2022-07-13 08:02] bsantschi opened #2 "deinKlima (neue Organisation) auf PROD einrichten"
Neue Organisation auf decidim.swiss PROD (https://dialogluzern.ch/system/organizations) erstellen:
- [x] Name: deinKlima
- [x] URL: https://deinklima.ch/
- [x] E-Mail Absender: no-reply@deinklima.ch (Mailserver bei Metanet)
- [x] SMS als Verifikationsmethode nebst den Standardoptionen
- [x] Standardsprache ist zu Beginn nur DEUTSCH
- [x] Berechtigung: Bitte Anthony von Beginn an als System- sowie

[2022-07-13 12:54] bsantschi opened #3 "Adresse / Karteneinschränkung pro Tenant ermöglichen"

[2022-07-15 12:12] bsantschi commented on #1
@Kagemaru bitte nächste Woche URL/DNS/E-Mail einrichten. Den Mailserver werde ich bei Metanet einrichten.

[2022-07-15 12:12] bsantschi opened #4 "Matomo einrichten"

[2022-07-18 12:25] bsantschi commented on #4
Wird im Rahmen von #1 und #2 umgesetzt.

[2022-07-18 12:25] #4 closed, assigned to nobody

[2022-07-21 04:32] bsantschi opened #5 "Sicherheitsfrage für Registrierung anpassen"
Alt: Nenne eine Farbe die im Luzerner Wappen vorkommt.
Neu: Nenne eine Farbe, die im Schweizer Wappen vorkommt.

[2022-07-22 05:59] bsantschi opened #6 "test.deinklima.ch verschickt keine Mails mehr"

[2022-07-22 06:54] carlobeltrame commented on #6
Grund ist dass der delayed job worker nicht mehr starten will

[2022-07-27 09:14] innosmith opened #7 "DialogLuzern Fehlermeldung auf deinKlima"
Solange noch keine Assemblies oder Processes vorhanden sind, führen die Links https://deinklima.ch/processes oder https://deinklima.ch/assemblies zur Fehlermeldung gemäss Attachment. Dasselbe gilt für die INT-Umgebung. Diese Fehlermeldung muss dynamisch zum passenden Tenant passen und sollte nicht zu einer Fehlermeldung bei info@dialogluzern.ch führen.

<img width="1672" alt="Screenshot 2022-07-27

[2022-08-05 08:16] innosmith opened #8 "deinklima.ch Design"
Bitte das Design gemäss Attachments mit Decidim Awesome und HTML-Blöcken auf der Startseite umsetzen. Für den Footer benötigt es vermutlich noch mehr als nur Decidim Awesome, muss aber Tenant-spezifisch bleiben und sollte ebenfalls einfach durch Plattform-Admins anpassbar sein.

Startseite
----------
HTML-Block 1
--------------
Das Startbild soll in einem HTML-Block durch ein Karussell oder Slider

[2022-08-08 10:04] carlobeltrame commented on #7
Dass hier ein "Diese Seite konnte nicht gefunden werden" zurückkommt ist in beiden Fällen bei Decidim explizit so ausprogrammiert: https://github.com/decidim/decidim/blob/develop/decidim-assemblies/app/controllers/decidim/assemblies/assemblies_controller.rb#L20 und https://github.com/decidim/decidim/blob/develop/decidim-participatory_processes/app/controllers/decidim/participatory_processes/partic

[2022-08-10 08:31] innosmith commented on #7
Bitte nur die Kontakt-Mailadresse pro Tenant anpassen. Wenn ich es richtig verstanden habe, können wir dies bald per TermCustomizer steuern, siehe https://github.com/puzzle/decidim-zuerich/issues/287. Idealerweise mit einem Key, welcher z.B. "decidim.swiss.XYZ" enthält, um Config-Parameter von decidim.swiss einfach zu erkennen.

Sobald Projekte oder Organisationen vorhanden sind, erscheint die Feh

[2022-08-10 08:40] innosmith opened #9 "Anordnung Team-Profilbilder"
Siehe Screenshot werden Profilbilder standardmässig vertikal angezeigt. Wäre es möglich, dies zuerst horizontal - und wenn zu viele - auf einer weiteren Zeile anzuzeigen?

<img width="1328" alt="Bildschirmfoto 2022-08-10 um 10 24 59" src="https://user-images.githubusercontent.com/75796635/183856497-dc4b67ee-6ab2-476c-be71-df9af40c9031.png">

[2022-08-10 15:47] carlobeltrame commented on #9
Ja, dafür müssen wir nur folgendes CSS von Dialog Luzern übernehmen:
[code]

[2022-08-10 16:06] carlobeltrame commented on #7
Ich glaube das hast du falsch verstanden, ausser Thomas hätte das behauptet. Diese Meldungen kommen nicht von Decidim, sondern von der WAF, und können daher auch nicht via Term Customizer angepasst werden.
Was ich aber vorhabe wäre dass wir eine generische Nachricht mit einer Puzzle-Support-Mail einrichten, und dann für einzelne Tenants eine spezifischere Nachricht, z.B. für Dialog Luzern. Das Gan

[2022-08-11 09:44] innosmith commented on #7
Alles klar, danke @carlobeltrame.

[2022-08-11 09:46] innosmith commented on #9
Danke, ist umgesetzt.

[2022-08-11 11:02] carlobeltrame commented on #7
Statement von Thomas:

Soll heissen, das generiert Aufwand. Bist du sicher dass wir nicht auch mit einer gemeinsamen generischen Support-Mailadresse für alle Tenants leben könnten @innosmith ?

[2022-08-11 11:07] innosmith commented on #7
Welche Support-Adresse würden wir denn hierfür wählen und wie würdet ihr die Aufwände verrechnen, wenn ihr nicht klar wisst, welcher Tenant zum Problem geführt hat? Es geht nur um die WAF, richtig?

[2022-08-11 11:25] carlobeltrame commented on #7
Irgendeine @puzzle.ch oder @decidim.swiss-Mailadresse wäre wohl am ehesten passend. Zur Verrechnung kann ich nichts sagen, da darf mich @bsantschi gerne zurechtweisen wenn das nicht geht. Zumindest bei Serverfehlern ("Auf dem Server ist ein Fehler aufgetreten.") und bei Zugriffsverweigerung ("Der Zugriff auf diese Seite ist dir nicht gestattet.") könnten wir die Herkunft anhand von Zeitpunkt und E

[2022-08-11 11:37] bsantschi commented on #7
Alternative und spontane Idee: die WAF könnte anstelle einer E-Mailadresse auch eine generelle Fehlermeldung mit einem Link auf eine Hilfeseite rendern. Der Link wäre z.B. immer /pages/help. Beim Klick auf den Link kriegt man dann die tenantspezifische Seite, z.B. https://deinklima.ch/pages/help

[2022-08-11 12:15] bsantschi opened #10 "Tenant PROD einrichten"
Neue Organisation auf decidim.swiss PROD erstellen:
- [x] Name: ?
- [x] URL: http://gemeinsamer.space
- [x] E-Mail Absender: ? (Mailserver richtet Lars ein)
- [x] Keine SMS-Verifikationsmethode
- [x] Standardsprache: ?
- [x] Berechtigung: Lars als System- sowie Plattform-Admin mit lars@urban-equipe.ch berechtigen.
- [x] Kein Matomo

[2022-08-11 12:15] bsantschi opened #11 "Tenant INT einrichten"
Neue Organisation auf decidim.swiss INT erstellen:
- [x] Name: ?
- [x] URL: http://testen.gemeinsamer.space
- [x] E-Mail Absender: ? (Mailserver richtet Lars ein)
- [x] Keine SMS-Verifikationsmethode
- [x] Standardsprache: ?
- [x] Berechtigung: Lars als System- sowie Plattform-Admin mit lars@urban-equipe.ch berechtigen.
- [x] Kein Matomo

[2022-08-11 13:37] innosmith commented on #7
Damit könnten wir pro Tenant zusätzliche Anweisungen (was hast du wann geklickt, dass du diese Fehlermeldung erhalten hast) festlegen inkl. Kontaktdaten.

[2022-08-11 15:06] innosmith opened #12 "Defaultbild für Organisation und Projekte"
Bitte das Bild attached als Defaultbild für Organisationen und Projekte verwenden, wenn diese kein Übersichtsbild definiert haben.

![Defaultbild_deinKlima](https://user-images.githubusercontent.com/75796635/184166177-77bf4e69-7b81-4154-8d19-337a1717a300.jpg)

[2022-08-11 15:08] innosmith opened #13 "Anpassungen Org.-/Projektseiten"
Bitte die Bannerbildgrösse für Organisationen und Projekte auf 1440 px breit und 500 px hoch einstellen, analog MeinQuartier. Beim Bannerbild rechts bitte noch den roten Standard-Decidim-Balken entfernen.

Bitte in der Subnavigation für Organisationen und Projekte die Navigation in Kleinbuchstaben umsetzen, so wie in der Hauptnavigation.

[2022-08-12 09:42] Kagemaru commented on #7
Ich habe das mal auf INT für die 404 Fehlerseite zum Testen umgesetzt:
https://test.deinklima.ch/asdf ⇨ https://test.deinklima.ch/pages/help
https://test.dialogluzern.ch/asdf ⇨ https://test.dialogluzern.ch/pages/help

[2022-08-12 15:12] innosmith commented on #7
Hallo @Kagemaru : besten Dank für die Umsetzung. Ich habe eine entsprechende Supportseite umgesetzt https://test.deinklima.ch/pages/help. Welche Fehlerursachen führen dann zum Aufruf dieser Seite? Dann kann ich den Supporttext allenfalls noch präzisieren.

[2022-08-15 08:09] larsUE commented on #11
Name: gemeinsamer.space Testplattform
Standardsprache: Deutsch und Englisch
E-Mail Absender: hoi@gemeinsamer.space

[2022-08-15 08:09] larsUE commented on #10
Name: gemeinsamer.space
Standardsprache: Deutsch und Englisch
E-Mail Absender: [hoi@gemeinsamer.space](mailto:hoi@gemeinsamer.space)

[2022-08-16 13:57] carlobeltrame commented on #11
@larsUE irgendjemand muss noch auf Hostpoint den CNAME DNS-Eintrag auf `cname.ocp.appuio.puzzle.ch.` einrichten (inkl. Punkt am Ende). Ich habe da keinen Zugang. Vorher kann der Tenant nicht vom Internet aus erreicht werden. Und gleiches für die Prod.

[2022-08-16 15:19] larsUE commented on #11
Scheint zu klappen!
<img width="1500" alt="Bildschirmfoto 2022-08-16 um 17 16 26" src="https://user-images.githubusercontent.com/60926257/184916172-bdb590d8-4d2c-4747-92be-d5d8a04e7217.png">

Habe folgende Records gesetzt:

<img width="628" alt="bildschirmfoto_2022-08-16_um_17 18 33" src="https://user-images.githubusercontent.com/60926257/184916559-9fe2548d-4434-4a40-a3f1-d5acd9d640aa.png">
(die P

[2022-08-16 15:26] larsUE commented on #11
Und *.gemeinsamer.space hab ich jetzt auch.

[2022-08-16 15:30] larsUE commented on #11
@carlobeltrame müssen wir da noch was starten?

[2022-08-16 15:37] carlobeltrame commented on #11
Ich muss es noch im OpenShift konfigurieren, habe Thomas danach gefragt.

[2022-08-17 17:27] larsUE commented on #11
Mail getestet und läuft, hab die INT-Begrüssungsemail (als normaler User) gekriegt.

[2022-08-17 17:32] larsUE commented on #10
Hier haben wir noch ein Problem mit den DNS-Einträgen. Für eine subdomain ist ein CNAME Record kein Problem, deshalb ging die INT. Für die Root (also die prod) geht der CNAME-Record nur, wenn ich alle anderen DNS-Records der Root löschen würde. Das würde allerdings unseren Mailserver kaputt machen. In etwa so was: https://serverfault.com/questions/91712/dns-using-cnames-breaks-mx-records

Wie fahr

[2022-08-18 12:03] larsUE commented on #10
Update: soweit sind wir durch, fehlt nur noch die Admin Berechtigungen für mich auf INT/Prod

[2022-08-18 14:09] #11 closed, assigned to carlobeltrame

[2022-08-18 14:09] #10 closed, assigned to carlobeltrame

[2022-08-18 15:10] innosmith opened #14 "Schweizer Adressauflösung und -eingabe"
Auf deinKlima INT kamen nur Luzerner Adressen als gültige Adressen zur Auswahl. In der Folge habe ich im Systemdashboard Start- und Endkoordinaten vermeintlich auf die ganze Schweiz eingestellt. Ergebnis deutsche Adressen ;-) Bitte korrigieren und sicherstellen, dass auf INT und PROD von deinKlima bei der Adresseingabe die ganze Schweiz abgedeckt ist. Der Startpunkt darf gerne in Bern sein, wo die

[2022-08-18 19:55] carlobeltrame commented on #14
Koordinator: https://tools.retorte.ch/map

[2022-08-19 06:52] larsUE commented on #14
Auf gemeinsamer.space hat es geklappt :-) Allerdings tritt auch da der [Zürcher Kartenbug](https://github.com/puzzle/decidim-zuerich/issues/267) auf

[2022-08-19 10:13] carlobeltrame commented on #14
Habe das Zentrum in Bern von deinklima INT zu PROD übernommen, und das Koordinaten-Rechteck von gemeinsamer.space auf deinklima INT und PROD übernommen. Sollte nun alles konsistent sein.

[2022-08-19 10:14] carlobeltrame commented on #14
Übrigens ist es natürlich immer noch möglich dass Adressen in Deutschland gefunden werden. Die Schweiz ist ja schliesslich kein Rechteck. Aber die Orte sollten nicht weit von der Schweiz entfernt sein.

[2022-08-19 11:41] #5 closed, assigned to nobody

[2022-08-19 11:42] #2 closed, assigned to Kagemaru

[2022-08-19 11:42] #1 closed, assigned to Kagemaru, carlobeltrame

[2022-08-19 11:42] #6 closed, assigned to nobody

[2022-08-19 11:42] #3 closed, assigned to carlobeltrame

[2022-08-19 11:44] #13 closed, assigned to carlobeltrame

[2022-08-19 11:48] innosmith commented on #14
Bestens, vielen Dank @carlobeltrame . Nun benötigen wir "nur" noch den Bugfix aus Zürich ;-)

[2022-08-19 12:05] innosmith commented on #8
@carlobeltrame : wir haben uns für einen statischen Footer entschieden, siehe angepasste Anforderungsbeschreibung.

[2022-08-19 12:09] innosmith opened #15 "Matomo-Zugriffe"
Sofern wir genügend "Sitzplätze" im Matomo-Abo haben, bitte folgende Personen für deinKlima berechtigen:
anthony@innosmith.ch
thomas.rosenberg@be.ch
david.biedermann@be.ch
ulrich.nyffenegger@be.ch
charlotte.kaufmann@wyssacademy.org

[2022-08-19 18:56] #9 closed, assigned to nobody

[2022-08-23 06:17] bsantschi commented on #15
Hoi Anthony, gerne erstelle ich die gewünschten Benutzer. Ein paar Fragen:
- Möchten sie die Daten von INT+PROD auf Matomo sehen oder nur PROD?
- Lese- oder Schreibrechte?
- Über welche Kanäle kann ich Ihnen die Passwörter mitteilen? Oder wollen sie sich über die "Passwort Reset" Funktion die Passwörter selber zurücksetzen?

[2022-08-23 08:16] innosmith commented on #15
Hoi @bsantschi
- INT-Daten auszuwerten macht wenig Sinn. Fokussieren wir auf PROD.
- Schreibrechte bergen zwar das Risiko, dass der eine dem anderen etwas überschreibt. Mit einer kleinen Einführungsschulung oder Anleitungsvideo können wir diesem Problem aber entgegenwirken. Wenn die einen nur Leserechte haben und andere Schreibrechte, stellt sich dann vielleicht irgendwann die Frage, die Berechtig

[2022-08-23 08:42] bsantschi commented on #15
Hoi Anthony, das klingt gut. Ich habe dir einen User eingerichtet. Dabei habe ich gemerkt, dass es keine E-Mail auslöst. Möchtest du mal versuchen, ob du dir ein Passwort setzten kannst? https://deinklima.matomo.cloud/

[2022-08-23 10:42] Kagemaru commented on #7
Also, ich habe es für test.deinklima.ch mal so eingerichtet:
| Code | Fehlermeldung | Hilfeseite |
|---------|----------------------|------------- |
|400|Sofortiger Redirect|https://test.deinklima.ch/pages/help400|
|401|Sofortiger Redirect|https://test.deinklima.ch/pages/help401|
|403|Sofortiger Redirect|https://test.deinklima.ch/pages/help403|
|404|Sofortiger Redirect|https://test.deinklima.ch/pa

[2022-08-23 13:49] innosmith commented on #7
@Kagemaru besten Dank! Die Ziel-URL ist ja dann generisch, wird also für DialogLuzern genau gleich funktionieren, ohne dass ihr Anpassungen am Code umsetzen müsst.

Bitte die Texte ohne Redirect noch unpersönlich machen:
- "Mehr Informationen siehe <a href="/pages/help500">Hilfeseite</a>, sofern noch erreichbar.
- "Entschuldigung für den kurzen technischen Unterbruch. Wir sind bald wieder da."

Da

[2022-08-23 13:57] larsUE commented on #7
Ist das für alle decidim.swiss tenants gültig? Dann müsste ich die Seiten auch für gemeinsamer.space einrichten, oder?

[2022-08-23 13:58] innosmith commented on #7
@Kagemaru : wie erkennen wir WAF-Fehler? Leiten wir diese genauso um auf eine helpXY-Seite?

[2022-08-23 13:58] innosmith commented on #7
Ja @larsUE . Ich tune gerade noch etwas die Texte und kopiere es analog auf Dialog Luzern INT und PROD.

[2022-08-23 14:39] innosmith commented on #15
Hoi @bsantschi. Der Zugriff hat geklappt, nachdem ich den Prozess "Passwort vergessen" mit nachfolgendem Bestätigungslink abgeschlossen habe. Dann kannst du bitte die weiteren User analog erfassen und ich bereite eine kurze Anleitung vor und informiere die Stakeholder per Email.

Zu Matomo:
- Unter "Alle Websites" finde ich auch die Testplattform bei Bedarf. Passt.
- Zur Info: Der Navigationspunkt

[2022-08-23 14:43] carlobeltrame commented on #12
Auf welchem Tenant ist das jetzt gemeint?

[2022-08-23 19:33] larsUE commented on #7
Der 413 «Request Entity too large» fehlt hier noch. Darauf kommt man schnell, wenn man z.B. in einer Umfrage ein File grösser als 10 MB hochlädt. Und ein Laie weiss natürlich gar nicht was mit dieser Meldung anzufangen ist.

[2022-08-24 08:29] carlobeltrame commented on #8
@innosmith in der Anforderungsbeschreibung fehlt wie es aussieht noch ein Mockup für den statischen Footer, kann das sein? Oder soll es einfach einer der beiden im PDF sein?

[2022-08-24 08:58] innosmith commented on #8
@carlobeltrame : Footerdesign siehe Attachment "dein Klima - Home Vorlage v5.pdf" auf Seite 2 mit nur einer Zeile von Logos, ohne das Wort "Trägerschaft". Logo Kanton Bern und Wyss Academy tauschen gemäss Textanforderungen Footer oben.

[2022-08-24 12:26] carlobeltrame commented on #8
Alle Punkte aus Saschas Mail sind jetzt auf der Integrationsumgebung umgesetzt. Einzig das Überblenden des Karussells habe ich nicht gemacht, weil ich dafür wie besprochen quasi das Karussell nochmals neu programmieren müsste.
@innosmith Bitte melden wenn noch etwas auffällt das geändert werden soll.
Somit bin ich gleichzeitig ready für das produktive Deployment.

[2022-08-24 12:29] carlobeltrame commented on #7
@innosmith Ja, WAF-Fehler führen zu einem 403. 403 kann somit entweder von der WAF oder von Rails kommen. Aber in beiden Fällen wird dieser Status ausgegeben wenn der User etwas versucht das mit seinen Berechtigungen nicht erlaubt ist, und auch bei erneuten Versuchen nicht erlaubt sein wird.

[2022-08-24 12:51] bsantschi commented on #15
Hoi @innosmith, ich habe die User wie gewünscht erstellt. Betr. des Zugriffsfehlers unter A/B Test kann ich nichts machen, offenbar müsste man da Admin-Rechte vergeben.

[2022-08-24 14:23] innosmith commented on #8
Im Review durch Kunden, siehe Email. Das Wyss Academy Logo fehlt noch. Rest sieht sehr gut aus, danke @carlobeltrame !

[2022-08-24 14:24] innosmith commented on #12
@carlobeltrame : Das Defaultbild wird noch nicht angezeigt. Habe es mit einer bestehenden sowie neuen Organisation getestet. Any ideas?

[2022-08-24 14:25] innosmith commented on #14
@Kagemaru hast du hierzu allenfalls schon Fortschritte erzielt, welche wir vor dem morgigen Deployment auch für deinKlima und Dialog Luzern anwenden könnten?

[2022-08-24 15:40] innosmith opened #16 "Ein Projekt wird nicht angezeigt"
Ich versuche das Projekt https://deinklima.ch/processes/stadtxypartizipation unter "Projekte" in der Navigation angezeigt zu bekommen. Rufe ich die URL direkt auf, wird das Projekt angezeigt. Wenn ich das Projekt hervorhebe, wird es angezeigt, sonst nicht?!? Any ideas what I'm doing wrong?

[2022-08-24 16:16] innosmith opened #17 "URL's einrichten"
Bitte folgende gekauften Domains direkt auf entsprechende Zieladressen auf deinklima.ch weiterleiten.

plusenergiestadt.ch auf https://deinklima.ch/assemblies/plusenergiestadt
-> dies ist eine geschlossene Organisation und dient den berechtigten Personen dem einfacheren finden der Org.

co2neutraleregion.ch auf https://deinklima.ch/co2neutraleregion

[2022-08-25 10:02] carlobeltrame commented on #16
Die Komponente gibts leider nicht mehr. Sentry-Fehler ist aber hier: https://sentry.puzzle.ch/pitc/decidim-luzern/issues/57432/
Ich kann mir den Fehler nur erklären, wenn die Page in der Komponente irgendwie gelöscht wurde... Kannst du das nochmals reproduzieren oder hat dir da vielleicht jemand reingefunkt? Ansonsten sehe ich nichts was ich beheben könnte.

EDIT: Ähm, du hast die Beschreibung des

[2022-08-25 10:10] larsUE commented on #16
@innosmith Meinst du die Darstellung auf der Startseite oder unter "Projekte"?

Erfahrungsgemäss ist das häufig ein Problem mit den Prozessdaten: Sind vergangene gesetzt, wird das Projekt nur unter vergangene angezeigt, sind gar keine Daten gesetzt wird das Projekt tatsächlich nicht angezeigt. Und wenn das Projekt erst in Zukunft beginnt, wird es beispielsweise auf der Startseite nicht angezeigt,

[2022-08-25 12:26] innosmith commented on #16
Problem solved: Das Projekt (Prozess) war einer leeren anstatt keiner Projektgruppe zugeordnet. Weil die Projektgruppe komplett leer war, also auch kein Name, habe ich gemeint das wäre der Standard für "keiner Projektgruppe zugeordnet". Danke @carlobeltrame und @larsUE. Die leere Projektgruppe entstand vermutlich beim Import des Projektes, welches auf eine Projektgruppe referenzierte, welch es im

[2022-08-25 12:41] Kagemaru commented on #14
Nein, leider bin ich bis jetzt nicht auf einen Grund gestossen, warum dies passiert.

[2022-08-26 07:28] bsantschi commented on #17
Hoi @innosmith

- die Weiterleitung für plusenergiestadt.ch habe ich eingerichtet.
- co2neutraleregion.ch habe ich noch keine Lösung, denn dort haben wir bereits auf Metanet ein Webhosting mit E-Mailweiterleitung. Ich gehe davon aus, dass bei der Umstellung auf eine Website-Weiterleitung in Metanet die E-Mail-Weiterleitung nicht mehr möglich ist. Vielleicht kennst du dich da aber besser aus. Oder

[2022-08-26 07:34] innosmith commented on #17
Hoi @bsantschi : für co2neutraleregion.ch kannst du direkt in der DNS-Config unterschiedliche Ziele für Mail und Website angeben. Thomas Burkhalter kann dir wahrscheinlich direkt weiterhelfen.

[2022-08-26 08:29] bsantschi commented on #17
DNS ermöglicht leider keine Weiterleitung auf eine Unterseite (https://deinklima.ch/co2neutraleregion), nur auf eine andere Domain. Daher muss ich das via Plesk konfigurieren und dort habe ich noch nicht herausgefunden, wie das geht ohne die E-Mailweiterleitung zu beeinflussen. Ich schaue noch mit Thomas.

[2022-08-26 09:09] larsUE commented on #14
Schaut im Zürcher Ticket, ich glaube ich konnte den exakten Fehler nun Nachreproduzieren.

[2022-08-26 10:54] innosmith commented on #17
Stimmt; und ja vielleicht hat Thomas noch eine Idee.

[2022-08-28 07:25] innosmith commented on #8
@carlobeltrame : bitte beim Kanton Bern Logo den Link gemäss GitHub-Ticket Spez. einfügen, welcher direkt auf das AUE des Kantons Bern zeigt.

[2022-08-30 08:24] carlobeltrame commented on #8
@innosmith ist auf Integration gemacht. Du musst die Kanton Bern Adresse noch im Admin-Backend als erlaubten externen Link eintragen.

[2022-08-31 05:16] bsantschi commented on #17
Hoi Anthony, wir sind betr. Weiterleitung co2neutraleregion.ch noch nicht weiter. Könntest du abklären, ob die Auftraggeberin allenfalls auf die E-Mail- oder auf die URL-Weiterleitung verzichten könnte? Wenn wir nur eine der beiden Weiterleitungen einrichten müssten, wäre das mit wenig Aufwand möglich. Sollte beides zwingend weitergeleitet werden, werden wir uns dem vertiefter annehmen (aber auch

[2022-08-31 05:42] innosmith commented on #17
Hoi @bsantschi : @Kagemaru meinte gestern beim Standup, dass ihr verschiedene Varianten hättet, dies umzusetzen. Ich habe den Kollegen mitgeteilt, bitte die einfachste Variante umzusetzen. Dem Kunden habe ich dies auch schon mitgeteilt. Das Fallback-Szenario wäre, die Domain co2neutraleregion.ch auf die Hauptdomain deinklima.ch weiterzuleiten.

[2022-08-31 06:31] bsantschi opened #18 "Projekte führen auf PROD noch zu einem Fehler"
Hoi @innosmith beim Klicken auf [Entdecke spannende Projekte...](https://deinklima.ch/processes) führt es auf https://deinklima.ch/ noch zu einem 404er.

[2022-08-31 07:23] bsantschi commented on #17
Thomas konnte es umsetzen, vielen Dank!

[2022-08-31 07:23] bsantschi commented on #17
Somit sind plusenergiestadt.ch und co2neutraleregion.ch eingerichtet.

[2022-08-31 07:25] Kagemaru commented on #17
co2neutraleregion.ch habe ich per Redirect auf der index.html eingerichtet.

[2022-08-31 14:51] innosmith commented on #18
Solange keine Projekte vorhanden sind, ja.

[2022-08-31 14:51] #18 closed, assigned to innosmith

[2022-08-31 14:53] #17 closed, assigned to bsantschi

[2022-09-06 07:49] larsUE commented on #14
Ich habe den Fix von Carlo ausführlich auf gemeinsamer.space getestet und es funktioniert wie gewünscht.

[2022-09-09 13:16] innosmith opened #19 "Footer Logos anpassen"
Bitte im Footer das Logo von Wyss Academy 20% kleiner machen und das Kanton Bern Logo gleich gross machen wie das verkleinere Wyss Academy Logo.

[2022-09-14 06:29] innosmith opened #20 "Bilderkarussell funktioniert nicht bei allen"
Gewisse städtische Anwender sehen auf der Startseite nur einen weissen Platzhalter. Die Stadt Thun setzt Microsoft Edge, Version 105.0.1343.42 (Offizielles Build) (64-Bit) ein. Javascript sei aktiviert. Was ist die Browser-Mindestanforderung für das Bilderkarussell?

Ist es möglich, dass wir auf der Startseite abhängig der Browser-Version oder Javascript-Einstellungen das Bilderkarussell (Option 1

[2022-09-14 07:07] innosmith opened #21 "Falsche Übersetzungen (Caching?)"
Siehe Sreenshots ist der Email Betreff auf den Tenant deinKlima angepasst, Emails werden jedoch mit dem falschen Subject "Open Community Luzern ..." versendet. Den Cache habe ich mehrfach geleert, Problem bleibt bestehen. Haben wir ein Caching-Problem oder ist diese falsche Übersetzung allenfalls irgendwo noch auf Code-Ebene definiert, weshalb die Übersetzung mit Term Customizer nicht greift?

Get

[2022-09-14 07:14] innosmith opened #22 "Aufforderung Verifikation nach Emailbestätigung"
Wenn sich auf deinKlima PROD ein User registriert, erhält er/sie im Anschluss eine Email zur Bestätigung der Emailadresse. Wird der Link geklickt, gelangt der/die User:in direkt ins User-Profil zu den Verifikationseinstellungen. Auf dieser Seite wird der neue User "aufgefordert", seine Telefonnummer zur Verifikation einzugeben. Ist dies ein neues (ungewolltes) Feature von v0.26 oder ein Fehler?

N

[2022-09-14 08:26] bsantschi commented on #21
Möglicherweise dasselbe Problem, das @Kagemaru hier bereits am Anschauen ist: https://github.com/stadtluzern/decidim-ocl/issues/225

[2022-09-14 08:40] innosmith commented on #21
Sehr wahrscheinlich dasselbe Problem @bsantschi , @Kagemaru , @Naadjjaa . Für deinKlima könnte das zum Launch-"Bremser" werden.

[2022-09-15 07:12] larsUE commented on #21
Ist auf gemeinsamer.space auch so, trotz Term Customizer Anpassung.
Ich sehe, dass die Luzern im Sprachfile so erwähnt wird. Mein Vorschlag wäre nun, "Open Community Luzern" (das ist ja nicht mal für Luzern richtig) durch %{organization} zu ersetzen. Das könnte ich machen, danach bräuchten wir einen INT-Release um zu testen.

Was denkt ihr, @Kagemaru @Naadjjaa und @innosmith ?

[2022-09-15 07:14] innosmith commented on #21
Wenn das funktioniert @larsUE , sehr gerne umsetzen.

[2022-09-15 10:35] larsUE commented on #22
Das Standardvorgehen für neue Nutzende bei der Registrierung war m.E., dass man nach der Registrierung direkt auf die Profilseite weitergeleitet wurde. Diese neue Weiterleitung funktioniert nur, wenn Verifikationen aktiviert sind. Deshalb konnte ich das Verhalten auch auf der Zürcher Seite nachstellen. Ich finde das aber auch unsinnig und würde auf das oben beschriebene vorherige Verhalten zurück

[2022-09-19 11:08] Kagemaru commented on #21
@bsantschi: Ja, es ist das gleiche Problem

@larsUE: Ich glaube nicht, dass die Organisation dort reingegeben wird, somit ist sie dann auch nicht im String verwendbar

@bsantschi, @Naadjjaa, @innosmith, @larsUE:
Ich denke, ich habe nun den Ursprung gefunden, wo es schiefläuft (leider nicht warum). Ein Fix dafür ist es, die Mail Templates zu überschreiben, die hier verwendet werden.
Beim nächsten I

[2022-09-21 12:52] Kagemaru commented on #21
Ich habe unser Problem bei TermCustomizer als Issue erstellt:
https://github.com/mainio/decidim-module-term_customizer/issues/93

[2022-09-22 14:46] innosmith opened #23 "www.deinklima.ch auch zulassen"
Gibt man https://www.deinklima.ch ein, folgt eine Fehlermeldung, dass dies keine sichere Verbindung sei. Bitte die Domain ebenfalls für www einrichten.

[2022-09-26 14:05] Kagemaru commented on #23
Erledigt.

[2022-09-26 14:05] #23 closed, assigned to Kagemaru

[2022-09-27 00:06] carlobeltrame commented on #20
Bei mir in Edge 105.0.1343.50 (Official build) (64-bit) funktioniert es ohne Probleme. Es könnte vielleicht daran liegen dass wir die Bilder von einer externen Domain laden (co2neutraleregion.ch) und gewisse Privacy-Browser-Plugins oder grosszügige Adblocker das mal generell blockieren.

Ich könnte einfach ein statisches Bild "hinter" das Karussell legen. Aber wenn dieses Bild auch wieder von der

[2022-09-27 05:24] bsantschi commented on #21
Bis der [Fehler bei TermCustomizer](https://github.com/mainio/decidim-module-term_customizer/issues/93) geflickt wird, könnten wir das Problem umgehen, indem wir generische/gemeinsame E-Mailtitel für alle Tenants definieren. Die E-Mail-Inhalte sollten wir pro Tenant unterschiedlich machen können, jedoch nicht im TermCustomizer, sondern direkt im Code. Folgende Übersetzungen sind davon betroffen:

[2022-09-27 06:42] carlobeltrame commented on #22
Dieses Verhalten war schon seit spätestens 2018 so. Es müssen aber folgende Bedingungen gelten, damit der User nach der Registrierung zu den Verifikationen gelangt:
- User darf kein Admin sein
- Kein Redirect für nach der Registrierung ist gespeichert, also der User hat sich nicht via eine Aufforderung z.B. beim Kommentarfeld registriert, sondern ganz normal via "registrieren" Link
- User loggt si

[2022-10-06 14:48] Kagemaru commented on #21
Dies sollte jetzt endlich behoben sein: https://github.com/stadtluzern/decidim-ocl/projects/1#card-85328903

Folgende Keys wurden für dialogluzern spezifisch übersetzt:
[code]

Falls ihr auch eigene spezifische Übersetzungen wollt, brauche ich alle diese Einträge übersetzt (ganz oder gar nicht).
Ansonsten werden die Standardübersetzungen verwendet. Wenn sich alle einig sind, kann man auch daran no

[2022-10-06 14:48] #21 closed, assigned to Kagemaru

[2022-10-08 12:35] innosmith commented on #20
@carlobeltrame : wie wäre es, das letzte Bild mit dem vollständigen Logo abgebildet zusätzlich als Hintergrundbild auf Decidim zu hosten? So verlieren wir nur die Flexibilität, das letzte Bild nicht selber anpassen zu können. Sobald umgesetzt, kann ich die Stadt Thun bitten, dies zu testen.

[2022-10-15 09:26] innosmith opened #24 "Org- und Projektfilter mit CSS ausblenden"
Bitte die Filter gemäss Screenshot rot eingefärbt mittels CSS auf der Organisationsseite sowie Projektseite ausblenden. Ev. benötigen wir diese Filter später, sobald mehr Content vorhanden ist. Andere Filter wie z.B. auf der Veranstaltungsseite dürfen davon nicht betroffen sein.

<img width="1610" alt="Bildschirmfoto 2022-10-15 um 11 23 52" src="https://user-images.githubusercontent.com/75796635/1

[2022-10-17 13:25] carlobeltrame commented on #20
Habe das umgesetzt und auf die Integration test.deinklima.ch aufgeschaltet. Bitte testen mit den betroffenen Browsersn

[2022-10-18 06:38] innosmith commented on #20
@carlobeltrame : Wenn ich Javascript deaktiviere, wird nicht das letzte Bild statisch angezeigt. Bitte noch anpassen. Leider können wir nicht kurzfristig das Browser-Setup in Thun testen. Wir hoffen, dass es mit den Änderungen funktioniert.

[2022-10-19 10:00] carlobeltrame commented on #20
Ich habe es jetzt noch leicht angepasst und mit Safari Versionen 11, 13 und 15 getestet, es sieht jetzt überall gleich aus. Sobald das Bild auf der Produktion deployed ist führe ich das dort noch nach.

[2022-10-19 12:17] innosmith commented on #20
Danke für das Testing und PROD-Deployment @carlobeltrame . Das Szenario, wenn ich Javascript deaktiviere, zeigt immer noch ein anderes Bild anstelle des Schlussbildes an, siehe Screenshot. Kannst du das einfach noch ändern oder benötigt das erneut ein PROD-Deployment?

<img width="1700" alt="Bildschirmfoto 2022-10-19 um 14 14 26" src="https://user-images.githubusercontent.com/75796635/196688342-ca

[2022-10-19 12:27] carlobeltrame commented on #20
Hoi Anthony, wie am Dienstag besprochen ist das Problem bei Thun mit grosser Wahrscheinlichkeit nicht, dass JavaScript deaktiviert ist, und wenn du JavaScript deaktivierst reproduzierst du nicht dieselben Probleme die sie gemeldet haben. Wäre JavaScript deaktiviert würde noch viel mehr in Decidim nicht funktionieren, darunter das Nutzungsbedingungen-Banner, das "Anthony Smith"-Dropdown-Menü, die L

[2022-10-19 12:30] #20 closed, assigned to carlobeltrame

[2022-10-19 18:01] #24 closed, assigned to innosmith

[2022-10-19 18:02] #7 closed, assigned to Kagemaru

[2022-10-19 18:02] #22 closed, assigned to carlobeltrame

[2022-10-19 18:25] innosmith opened #25 "Machbarkeits-Check: Projektgruppe in Projektboxen anzeigen"
Gewisse Projekte sind einer Projektgruppe zugeordnet. Lässt sich der Name der Projektgruppe in der Übersicht aller Projekte zusätzlich in der Informationsbox anzeigen? Wenn positiv, kreieren wir ein Mockup zur Anpassung der Informationen.

Etwas Ähnliches haben wir bei DialogLuzern gemacht, um bei Veranstaltungen die Organisation mit anzuzeigen.

[2022-10-20 14:15] carlobeltrame commented on #25
Ja, das müsste grundsätzlich möglich sein. Decidim hat extra Infrastruktur wo man sich drin einhängen kann und die angezeigten Felder dieser "Informationsboxen" (bei Decidim heissen sie Cells) anpassen, ergänzen oder entfernen kann. Genau so haben wir das wie du sagst bei Dialog Luzern auch schon gemacht.

[2022-10-26 11:48] bsantschi opened #26 "Tenant INT einrichten"
Neue Organisation auf decidim.swiss INT erstellen:
- [x] Name: Co-Kreationsplattform
- [x] Externe URL: https://test.cokreation.winterthur.ch -> NEU: http://cokreation.test.winterthur.ch/
  - [x] OpenShift Ingress erstellt
  - [x] DNS Umstellen bei winterthur.ch
- [x] Interne URL: https://pitc-stlu-decidim-int-cokreation.ocp.appuio.puzzle.ch/
- [x] E-Mail Absender: noreply@cokreation-winterthur.ch

[2022-10-26 11:52] bsantschi opened #27 "Tenant PROD einrichten"
Neue Organisation auf decidim.swiss PROD erstellen:
- [x] Name: Co-Kreationsplattform
- [x] Externe URL: http://cokreation.winterthur.ch
  - [x] OpenShift Ingress erstellt
  - [x] DNS Umstellen bei winterthur.ch
- [x] Interne URL: https://pitc-stlu-decidim-prod-cokreation.ocp.appuio.puzzle.ch/
- [x] E-Mail Absender: noreply@cokreation-winterthur.ch
  - [x] E-Mail SMTP-Server und Credentials (Crypt

[2022-10-28 10:42] innosmith opened #28 "Domain forward co2neutraleregion.ch anpassen"
Zumindest temporär wünscht der Kunde folgende Anpassung:

Die Domain co2neutraleregion.ch wird auf folgende Organisation weitergeleitet:
https://deinklima.ch/assemblies/co2neutraleregion

Merci

[2022-10-28 10:47] innosmith opened #29 "Karussell deaktivieren wegen Performance"
Von verschiedenen Seiten kam das Feedback, dass die Ladezeit der Startseite noch zu langsam ist. Wir haben nun entschieden, folgende Anpassungen umzusetzen:

1. Das Karussell verschwindet und nur noch das letzte Bild statisch angezeigt
2. Das letzte Bild (mit dem zusammengesetzten Logo) wird in der Auflösung weiter reduziert, sodass es noch nicht verpixelt wirkt. Vermutlich hilft es auch, das stat

[2022-11-01 09:12] carlobeltrame commented on #29
Ist auf Integration umgesetzt. Bitte testen.

[2022-11-01 11:43] innosmith commented on #29
Bitte auf PROD deployen @carlobeltrame . Sobald wir das Design von deinklima.ch überarbeiten, setzen wir es dann ev. analog Dialog Luzern und MeinQuartier um, wo das Logo als sep. Layer mittig über das Startbild gelegt wird. Inkl. der Möglichkeit, das Startbild selbst als Plattform-Admin anzupassen.

[2022-11-01 13:54] #29 closed, assigned to carlobeltrame

[2022-11-02 14:19] #28 closed, assigned to innosmith

[2022-11-04 14:27] innosmith opened #30 "Anpassung Kacheldesign Projekte"
Bitte das Kacheldesign der Projekte in der Übersicht gemäss nachfolgendem Mockup mittels CSS anpassen.

Bitte anpassen:
1. Unterhalb des Bildes, rechts angeordnet auf gleicher Höhe wie der Titel das Projekt-Icon der Startseite
2. Die Zeile mit Start- und Endedatum entfernen
3. Neu eine Zeile mit dem Organisationsbezug (Organisationsname) des Projektes, sofern vorhanden. Falls mit URL linkbar, bitt

[2022-11-04 14:38] innosmith opened #31 "Metadatenfeld verbreitern"
Bitte das Metadatenfeld auf der Startseite rechts bei Organisationen und Projekten um ca. 20% breiter machen, sodass der Kontaktname charlotte.kaufmann@wyssacademy.org bei der Wyss Academy Organisation nicht mehr abgeschnitten wird. Siehe Screenshot.

<img width="2004" alt="Bildschirm­foto 2022-11-04 um 15 34 37" src="https://user-images.githubusercontent.com/75796635/200002110-de2d661a-23ea-493f-

[2022-11-04 14:43] innosmith opened #32 "Header Projektübersicht anpassen"
Bitte wenn einfach mit CSS möglich den Header der Projektübersichtsseite gemäss Mockup anpassen mit:

1. Text "Hervorgehobene Projekte" entfernen
2. Das Call to Action Bild mit Button auf die ganze Breite des hervorgehobenen Projektes verbreitern
3. Den Button "Projektidee eingeben" um ca. 25% vergrössern, sodass dieser besser zur Geltung kommt

Falls einfach mit CSS möglich, lassen wir diese Ände

[2022-11-04 16:42] carlobeltrame commented on #30
Die neue Zeile lässt sich nicht mit nur CSS einfügen. Daher wird ein Produktivdeployment nötig sein, und ich muss es abhängig vom Tenant machen.

[2022-11-04 16:45] innosmith commented on #30
@carlobeltrame : wäre eine Code-Anpassung auch notwendig, wenn wir die Organisation anders darstellen, so wie z.B. bei den Veranstaltungen in Luzern? Falls eine Code-Anpassung notwendig, wie aufwändig würde das?

[2022-11-04 16:49] carlobeltrame commented on #30
Ja, das ist technisch intern genau das gleiche, eigentlich egal wo auf der kachel die Organisation stehen soll. Inklusive ausblenden der anderen Elemente und Deployments auf Integration und Produktion schätze ich 4-5 Stunden

[2022-11-04 16:53] larsUE commented on #30
Darf ich vorschlagen, das nicht tenant-spezifisch zu lösen, sondern allgemein und dann bauen wir es auf den anderen Plattformen je nach Bedarf mittels CSS aus? Die einzelnen Zeilen der Cards lassen sich nämlich problemlos ansteuern. In Zürich zeigen wir je nach Prozess gar andere Zeilen an. Und dieses Feature könnte für weitere Tenants spannend sein (z.B. Winterthur).

[2022-11-05 12:56] innosmith commented on #30
@carlobeltrame : Danke für die Aufwandschätzung. 4-5 Stunden ist ok. Bei deinklima.ch stehen die Projekte im Zentrum, entsprechend ist diese View inkl. CSS Flexibilität für weitere Anpassungen wichtig. Wenn die Idee von @larsUE ohne grossen Mehraufwand möglich ist, gerne. Hat diese Umsetzung Einfluss auf die anderen Tenants auf decidim.swiss?

[2022-11-05 13:05] carlobeltrame commented on #30
Der Vorschlag von Lars ist gleich einfach oder einfacher umzusetzen. Aber bei neuen Tenants wird dann halt standardmässig alles angezeigt, bis man es bewusst mit CSS versteckt.

[2022-11-05 13:08] innosmith commented on #30
Dann lass es uns so umsetzen, dass bei neuen Tenants ungewünschte Zeilen mittels CSS ausgeblendet werden können; ist ja einfach anzupassen.

[2022-11-07 14:38] bsantschi opened #33 "SMS Kontingent pro Tenant konfigurierbar machen, deinklima Userkey und API-Passwort hinterlegen"

[2022-11-08 10:25] carlobeltrame commented on #32
Ist auf Integration aufgeschaltet. Ich habe versucht dass das ganze auch auf Handys einigermassen gut aussieht.

[2022-11-08 10:26] carlobeltrame commented on #31
Ich habe das auf der Integration umgesetzt, aber nur in der Organisation Wyss Academy for Nature (via Einschränkung auf der CSS Box). Grund ist, dass die Metadaten-Box jetzt je nach Bildschirmgrösse mehr als die Hälfte der Bildschirmbreite einnimmt. Falls wir das dennoch für alle Organisationen haben wollen können wir einfach die Einschränkung entfernen.

[2022-11-08 12:26] carlobeltrame commented on #30
Wie per Mail besprochen, alle Teile ausser der Organisationsname sind jetzt mit reinem CSS umgesetzt und auf der Integrationsumgebung testbar.

[2022-11-08 19:16] innosmith commented on #31
Bestens, danke.

[2022-11-08 19:16] #31 closed, assigned to carlobeltrame

[2022-11-08 19:18] innosmith commented on #32
Bestens, danke.

[2022-11-08 19:18] #32 closed, assigned to carlobeltrame

[2022-11-09 06:18] bsantschi commented on #26
Hoi @Kagemaru bitte externe URL auf http://cokreation.test.winterthur.ch/ ändern (wurde so von Pascal Schoch gewünscht).

[2022-11-10 09:25] innosmith commented on #30
Bitte noch die Zeile mit "erstellt am und nicht mehr folgen" ebenfalls ausblenden gemäss neuem Mockup. Danke @carlobeltrame .

<img width="1711" alt="Bildschirm­foto 2022-11-10 um 10 24 41" src="https://user-images.githubusercontent.com/75796635/201052143-bd491c04-6f3c-4ead-b351-57547f454d1d.png">

[2022-11-10 09:38] carlobeltrame commented on #30
Ist erledigt

[2022-11-12 20:38] innosmith commented on #30
@carlobeltrame : Wir warten noch kurz mit der Umsetzung zur Anzeige des Organisationsnamens in den Projektkacheln. Wir müssen noch diskutieren, ob der Organisationsname unterhalb angezeigt werden soll oder analog bei den Veranstaltungen oberhalb des Bildes. Auf jeden Fall sollte der Organisationsname in beiden Fällen an derselben Stelle und gleich angezeigt werden.

[2022-11-12 20:51] innosmith opened #34 "Designanpassungen Veranstaltungsübersicht"
Bitte auf der Veranstaltungsübersicht Designanpassungen mit CSS gemäss Mockup umsetzen.

Bis etwas mehr Veranstaltungen auf deinklima sind, soll nur in der Veranstaltungsübersicht (nicht bei den Details zu den Veranstaltungen oder auf anderen Karten, z.B. Veranstaltungen einer Organisation) die Karte mit allen Veranstaltungen unsichtbar gemacht werden. Argument die Karte bringt aktuell zu wenig In

[2022-11-12 21:01] innosmith opened #35 "Emailtexte werden nicht übernommen"
Ist es möglich, dass bei der Registration neuer User noch ein Emailtext versendet wird, welcher nicht die Textübersetzung von Term Customizer nimmt? Details siehe Beschreibung und Screenshots (insb. der Letzte) von David seitens AUE nachfolgend. Falls wir dies vor dem 16.11.2022 lösen könnten, wäre super. Merci!

By the way, wie können wir die Email-Templates hübscher machen? Haben wir hierfür ein

[2022-11-14 05:32] bsantschi commented on #35
Hoi @Kagemaru ich vermute hier einen Zusammenhang mit https://github.com/stadtluzern/decidim-ocl/issues/225, siehst du das auch so? Und falls ja, benötigen wir wiederum die Übersetzung für folgende Keys: https://github.com/stadtluzern/decidim-ocl/issues/225#issuecomment-1270182036 ?

[2022-11-18 17:06] innosmith opened #36 "Wrong password Fehlermeldung fehlt"
Ist es möglich, dass Nutzenden bei Eingabe eines falschen Passwortes eine Fehlermeldung angezeigt wird? Aktuell erscheint auf deinklima.ch PROD einfach erneut die Eingabeseite für User ID / PW, aber ohne irgendein Hinweis. Danke für Tipps, wie wir dies ändern können. Der Kunde berichtete auch, dass manchmal bei Eingabe eines falschen Passwortes auf die 403-Page weitergeleitet wird. Dies konnte ich

[2022-11-22 07:52] innosmith opened #37 "CSS Capitalize entfernen"
Siehe div. Screenshots wird in Buttons oder Komponenten-Reitern eine Capitalize-Regel angewendet. Bitte diese entfernen.

![Screenshot 2022-11-21 104007](https://user-images.githubusercontent.com/75796635/203257548-fc9952c6-786e-4cab-827e-870bbb8a272e.png)
![Screenshot 2022-11-21 104140](https://user-images.githubusercontent.com/75796635/203257555-32e9d041-253a-439c-9ac4-1421f8a91e28.png)
![Screen

[2022-11-22 18:37] innosmith opened #38 "Random Fehler bei Anmeldung"
Mehrfach hat mir der Kunde bereits berichtet, dass bei der Anmeldung manchmal ein 422 geworfen wird. Oder auch schon ein 403, wenn ich es richtig in Erinnerung habe. Heute ist ein 422 passiert, siehe Screenshot. Datum 22.11.2022, Zeitpunkt 13:23. Könnt ihr bitte in den Logs prüfen, was der Grund sein könnte? Ob dies nur auf INT auftritt, oder auch auf PROD, weiss ich noch nicht.

![anmeldung fehlg

[2022-11-25 09:33] #37 closed, assigned to carlobeltrame

[2022-11-25 12:27] innosmith commented on #35
@Kagemaru : bis wann könntest du dieses Ticket lösen? Merci. LG Anthony

[2022-11-25 14:18] larsUE opened #39 "Traktanden- & Protokollerfassung übers Frontend ermöglichen"
Im Moment können die erweiterten Funktionen der Veranstaltungskomponente nur über das Backend aktiviert werden, was einen Backend-Zugriff benötigt.

[2022-11-25 14:19] larsUE opened #40 ""Kommt aus einer Veranstaltung"-Funktion in Frontend Erfassung von Vorschlägen aktivieren"
Funktion gibt es schon, allerdings nur bei "offiziellen Vorschlägen", die über das Backend konfiguriert werden.

[2022-11-25 14:20] innosmith opened #41 "Vereinfachte Projektkacheln bei Organisationen"
Bitte analog der Projektübersicht /processes auch die Projektkacheln anpassen, welche auf spezifischen Organisationsseiten angezeigt werden, siehe z.B. hier https://deinklima.ch/assemblies/co2neutraleregion.

[2022-11-25 16:20] larsUE opened #42 "etherpad Deployment aufbauen & Integration einrichten"
https://docs.decidim.org/en/develop/services/etherpad.html

[2022-11-25 16:24] larsUE opened #43 "Optional: direct_verfications Modul installieren"
https://github.com/coopdevs/decidim-verifications-direct_verifications

[2022-11-29 08:23] bsantschi commented on #35
- Bitte Texte von Luzern übernehmen: https://github.com/stadtluzern/decidim-ocl/issues/225#issuecomment-1270182036
- Welcome Notification anpassen

[2022-11-29 08:35] carlobeltrame commented on #38
Hypothese:
Das einzige was mit basierend auf diesen Informationen einfällt ist folgendes Szenario.
1. Ein User versucht sich einzuloggen, und irgendein Fehler tritt dabei auf (z.B. das falsche Passwort wird eingegeben?)
2. Der User kommt fälschlicherweise auf eine Fehlerseite, welche nicht gleich wieder das Login-Formular enthält
3. Der User klickt auf den Zurück-Button des Browsers um wieder zum

[2022-11-30 10:29] carlobeltrame commented on #34
@innosmith ist auf der Integration testbar

[2022-11-30 10:30] carlobeltrame commented on #41
@innosmith ist auf der Integration testbar

[2022-11-30 16:42] innosmith commented on #34
Besten Dank @carlobeltrame . Bitte auf PROD übertragen.

[2022-11-30 16:44] innosmith commented on #41
Besten Dank @carlobeltrame . Bitte auf PROD übertragen.